<div class="imgcontainer">
  <img src="<%= asset_pack_path 'media/images/rubiti_240.webp' %>" id="logo_menu" class="avatar" />
</div>
<div class="container">
<h2 class="h2">Login de usuário</h2>
<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email, "Usuário" %><br />
    <%= text_field_tag :email, params[:email], placeholder: 'Seu usuário'%>
  </div>
  <div class="field">
    <%= label_tag :password, "Senha" %><br />
    <%= password_field_tag :password, "", placeholder: 'Sua senha' %>
  </div>
  
  <%= submit_tag "Logar", class: 'button' %>
<% end %>
</div>