<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container">
  
    
    <h2 class="h2">Registro de usuário</h2>
    <div class="check">
      <%= f.check_box :admin, class: "check" %>
      <%= f.label :admin, "Admin?" %>
    </div>
    <%= f.label :name, "Usuário" %>
    <%= f.text_field :name, placeholder: 'Nome de usuário' %> 
  
    <%= f.label :email, "Email" %>
    <%= f.text_field :email, placeholder: 'Email do usuário' %>
  
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password, placeholder: 'Senha' %>
  
    <%= f.label :password_confirmation, "Senha de confirmação" %>
    <%= f.password_field :password_confirmation, placeholder: 'Senha de confirmação' %>
  
  <%= f.submit "Registrar", class: "button" %>
<% end %>