<h2>Email recebidos</h2>
<table class="table">
  <tr class="header">
    <th>Id</th>
    <th>Nome</th>
    <th>Admin?</th>
    <th>Email</th>
  </tr>
  <tr>
    <td><%= @user.id %></td>
    <td><%= @user.admin %></td>
    <td><%= @user.name %></td>
    <td><%= @user.email %></td>
  </tr>
</table>
<%= button_to 'Usuários', users_path, method: 'get', class: 'regular-button' %>