<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>
<p>
  <strong>ADMIN:</strong>
  <%= @user.admin %>
</p>
<p>
  <strong>NAME:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>EMAIL:</strong>
  <%= @user.email %>
</p>
 
<%= link_to 'Usuários', users_path %>