    <section class="top">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <a href="#" class="logo">
            <strong>rubiti</strong>
            sistemas web
          </a>
          <input type="checkbox" id="openSidebarMenu">
          <label for="openSidebarMenu" class="sidebarIconToggle">
            <i class="fa fa-bars"></i>
          </label>
          
          <!-- Sidebar Menu -->
          <nav id="sidebarMenu">
            <ul class="sidebarMenuInner">
              <div class="sidebarMenuInner-icon">
                <input type="checkbox" id="openSidebarMenu">
                <label for="openSidebarMenu" class="sidebarIconToggle">
                  <i class="fa fa-times"></i>
                </label>
              </div>
              <a href="#">
                <img src="<%= asset_pack_path 'media/images/rubiti_240.webp' %>" id="logo_menu" />
              </a>
              <li><i class="icon fas fa-home"></i><a href="#">Home</a></li>
              <li><i class="icon fas fa-satellite"></i><a href="#wrapper">Tecnologias</a></li>
              <li><i class="icon far fa-comments"></i><a href="#contact">Contato</a></li>
              <li><i class="icon fas fa-address-card"></i><a href="#footer">Informações</a></li>
            </ul>
          </nav>
        </div>

        <!-- Topbar Menu -->
        <nav id="topNav">
          <ul>
            <li><a href="#footer">Informações</a></li>
            <li><a href="#wrapper">Tecnologias</a></li>
            <li><a href="#contact">Contato</a></li>
            <li><a href="#">Home</a></li>
          </ul>
        </nav>
      </header>
      
      <div id="banner">
        <img src="<%= asset_pack_path 'media/images/rubiti_240.webp' %>" id="emblema" />
        <div>
          <div class="banner-row">
            <span class="icon fa fa-lightbulb"></span>
            <h3>Sua ideia</h3>
            <p>Transformada em um negócio</p>
          </div>
          <div class="banner-row">
            <span class="icon fab fa-cloudversify"></span>
            <h3>Nossa expertise</h3>
            <p>E nosso poder de realizar</p>
          </div>
          <div class="banner-row">
            <span class="icon fas fa-bullhorn"></span>
            <h3>Seus clientes</h3>
            <p>Tendo a melhor experiência</p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Highlights -->
    <section class="wrapper" id="wrapper">
      <div class="inner">
        <header class="special">
          <h2>Saiba um pouco mais sobre nós</h2>
          <p>Alguns pontos para que você entenda qual é o nosso diferencial.</p>
        </header>
        <div class="highlights">
          <section class="high">
            <div class="content">
              <header>
                <span class="icon fab fa-digital-ocean"></span>
                <h3>Servidores em nuvem</h3>
              </header>
              <p>Projetos estão hospedados na nuvem, em servidores próprios. Isso proporciona desempenho e um aumento na segurança.</p>
            </div>
          </section>
          <section class="high">
            <div class="content">
              <header>
                <span class="icon fab fa-linux"></span>
                <h3>Programação Open Source</h3>
              </header>
              <p>Priorizamos tecnologias abertas, participando de uma comunidade mundial e colaborativa de desenvolvedores.</p>
            </div>
          </section>
          <section class="high">
            <div class="content">
              <header>
                <span class="icon fas fa-credit-card"></span>
                <h3>Excelente custo-benefício</h3>
              </header>
              <p>Com nosso sistema de mensalidades, nossos sites e softwares são mantidos e atualizados por preços acessíveis.</p>
            </div>
          </section>
          <section class="high">
            <div class="content">
              <header>
                <span class="icon fa fa-comments"></span>
                <h3>Atendimento pessoal</h3>
              </header>
              <p>Aqui você fala diretamente conosco, o bom atendimento é parte do nosso pacote, fortalecendo nosso diálogo e parceria.</p>
            </div>
          </section>
        </div>
      </div>
		</section>
		
		<!-- CTA -->
		<section id="cta" class="wrapper_cta">
			<div class="inner_cta">
				<h2>
					Nossos Valores
				</h2>
				<p>
					Proporcionar aos nossos clientes o melhor retorno para seu investimento com o uso de tecnologias de ponta e o que há de melhor e mais atual no Desenvolvimento Web. Tratamos nossos clientes indiretos como diretos, e os diretos como parte de nossa equipe, incorporando à nossa missão o dever de contribuir com a sociedade através de nosso trabalho.
				</p>
			</div>
		</section>

    <!-- contact -->
    <section class="wrapper" id="contact">
      <header class="special">
        <h2>Contate-nos!</h2>
        <p>Entraremos em contato para trabalharmos em sua ideia e firmarmos nossa parceria.</p>
      </header>
      <div class="highlights">
        <section class="contact">
          
          <%= form_for(@contact) do |f| %>
            <% if @contact.errors.any? %>
              <div id="error_explanation">
                <h3><%= pluralize(@contact.errors.count, "error") %> Esse contato não pôde ser realizado:</h2>
                <ul>
                  <% @contact.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            
            <%= f.label :name, 'Nome: ', class: 'contact-fields' %><br />
            <%= f.text_field :name, placeholder: 'Seu nome', class: 'contact-fields' %>
            
            <%= f.label :email, 'Email: ', class: 'contact-fields' %><br />
            <%= f.text_field :email, placeholder: 'Seu email', class: 'contact-fields' %>
            
            <%= f.label :message, 'Mensagem: ', class: 'contact-fields' %><br />
            <%= f.text_area :message, placeholder: 'Sua mensagem', class: 'contact-fields' %>
            
            <%= f.submit "Enviar Mensagem", class: 'button contact-fields' %>
          <% end %>

        </section>
      </div>
    </section>
    
    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <div class="content">
          <section class="resp-footer resp-footer-full">
            <h3>Porque trazer seu projeto para a rubiti?</h3>
            <p>Aqui não temos receita de bolo! A rubiti Sistemas Web trabalha em cada detalhe do projeto direto no código, colocando a mão na massa! Isso nos dá controle e liberdade sobre cada aspecto do empreendimento e independência de plugins pesados e desnecessários. Assim como nossa hospedagem em nuvem e em servidor independente.</p>
          </section>
          <section class="resp-footer resp-footer-full">
            <h4>Entre em contato:</h4>
            <ul class="alt">
              <li><i class="icon fas fa-phone-square"></i>(12) 98898.7716</li>
              <li><i class="icon fas fa-at"></i>brandao@rubiti.com</li>
              <li><i class="icon fas fa-globe"></i>www.rubiti.com</li>
              <li><i class="icon fas fa-map-marker-alt"></i>Jacareí, SP - Brasil</li>
            </ul>
          </section>
          <section class="resp-footer-full">
            <h4>Redes Sociais:</h4>
            <ul class="plain">
							<li><a href="https://www.facebook.com/rubitisoft/"><i class="icon fab fa-facebook">&nbsp;</i>Facebook</a></li>
							<li><a href="https://www.linkedin.com/company/rubiti/"><i class="icon fab fa-linkedin">&nbsp;</i>Linkedin</a></li>
							<li><a href="https://github.com/rubiti"><i class="icon fab fa-github">&nbsp;</i>Github</a></li>
            </ul>
          </section>
        </div>
        <div class="copyright">
          &copy;<a href="https://rubiti.com">rubiti</a> sistemas web
        </div>
      </div>
    </footer>