<h2>Emails recebidos</h2>
 
<table class="table">
  <tr class="header">
    <th>Id</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Mensagem</th>
    <th>Recebido em</th>
    <th></th>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.id %></td>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.message %></td>
      <td><%= contact.created_at %></td>
      <td><%= button_to 'Destroy', contact_path(contact), method: :delete, data: { confirm: 'Tem certeza de que vai deletar esse email?' } %></td>
    </tr>
    </tr>
  <% end %>
</table>
<br>