<!DOCTYPE html>
<html>
  <head>
    <title>Rubiti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <%= favicon_link_tag asset_pack_path('media/images/rubiti_240.png') %>

    <%= stylesheet_pack_tag 'admin/admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin/admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="sidebar">
      <img src="<%= asset_pack_path 'media/images/rubiti_240.png' %>" id="logo_menu" />
      <ul>
        <li><a href="#"><i class="icon fas fa-home"></i>Home</a></li>
        <li><a href="#"><i class="icon fas fa-building"></i>Informações</a></li>
        <li><%= link_to '<i class="icon fas fa-at"></i>Emails'.html_safe, contacts_path %></li>
        <li><%= link_to '<i class="icon fas fa-users"></i>Usuários'.html_safe, users_path %></li>
      </ul>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>