<!DOCTYPE html>
<html>
  <head>
    <title>Rubiti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_pack_path('media/packs/welcome/images/rubiti_240.png') %>

    <%= stylesheet_pack_tag 'admin/admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin/admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>