<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rubiti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <%= favicon_link_tag asset_pack_path('media/images/rubiti_240.png') %>

    <%= stylesheet_pack_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--===========================================================
    Theme Name: Rubiti Institutional
    Author: Anderson Brandão Lustosa
    E-mail: brandao@rubiti.com
    -- LINKS --
    Website: http://www.rubiti.com
    github: @abrandao @rubiti
    ============================================================-->

  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'welcome', 'data-turbolinks-track': 'reload' %>
  </body>
</html>